In [2]:
name=['John', 'Paul','George','Ringo']

In [3]:
student=[
    {'name':'John', 'age':25, 'grade':85},
    {'name':'Paul', 'age':22, 'grade':95},
    {'name':'George', 'age':23, 'grade':82},
    {'name':'Ringo', 'age':21, 'grade':35},
]

In [4]:
student

[{'name': 'John', 'age': 25, 'grade': 85},
 {'name': 'Paul', 'age': 22, 'grade': 95},
 {'name': 'George', 'age': 23, 'grade': 82},
 {'name': 'Ringo', 'age': 21, 'grade': 35}]

In [5]:
student[0]

{'name': 'John', 'age': 25, 'grade': 85}

- Object Oriented Principal
    - Encapsulation
    - Abstraction
    - Inheritance

In [7]:
class Student:
    def __init__(self,name,age,grade):
        self.name=name
        self.age=age
        self.grade=grade

    def __repr__(self):
        return self.name

In [8]:
students=[
    Student('John',25,88),
    Student('Paul',23,94),
    Student('Georgia',20,78),
    Student('Regoria',26,90),
]

In [9]:
students[0]

John

In [10]:
students

[John, Paul, Georgia, Regoria]

In [11]:
class Mobile:
    def __init__(self,nm,brand,price,ram,camera):
        self.name=nm
        self.brand=brand
        self.price=price
        self.ram=ram
        self.camera=camera
    
    def __repr__(self):
        return self.name
    
    def info(self):
        print(f'Name:{self.name}')
        print(f'Brand:{self.brand}')
        print(f'Price:{self.price}')
        print(f'RAM:{self.ram}')
        print(f'Camera:{self.camera}')

In [12]:
m1=Mobile('Redmi Note9 pro', 'Xiaomi', 15000,'6GB','8MP')
m2=Mobile('iphone11','Apple',90000,'4GB','12MP')
m3=Mobile("Galaxy11",'Samsung',60000,'6GB','16MP')
mobiles=[m1,m2,m3]
print(mobiles)

[Redmi Note9 pro, iphone11, Galaxy11]

In [13]:
for item in mobiles:
    print(item)

Redmi Note9 pro
iphone11
Galaxy11

In [15]:
for item in mobiles:
    print(item.name, item.brand)

Redmi Note9 pro Xiaomi
iphone11 Apple
Galaxy11 Samsung

In [16]:
for item in mobiles:
    item.info()

Name:Redmi Note9 pro
Brand:Xiaomi
Price:15000
RAM:6GB
Camera:8MP
Name:iphone11
Brand:Apple
Price:90000
RAM:4GB
Camera:12MP
Name:Galaxy11
Brand:Samsung
Price:60000
RAM:6GB
Camera:16MP

In [1]:
class person:
    def __init__(self,name,gender="female",age=21):
        self.name=name
        self.age=age
        self.gender=gender
    def __repr__(self):
        return self.name

In [3]:
p1=person('Arpita',age=21,gender='male')
p1

Arpita

In [4]:
class politician(person):
    def __init__(self, name, age, gender,pp, exp, area,designation ):
        super().__init__(name, age,gender)
        self.party=pp 
        self.experience=exp
        self.area=area
        self.designation=designation

In [5]:
p2=politician('Mannat',23,'female','BJP',2,'Bihar','MLA')
p2

Mannat

In [6]:
from dataclasses import dataclass
@dataclass
class product:
    name:str
    price:float
    quantity:int

In [8]:
products=[
    product('Laptop',1000,5),
    product('Mouse',50,10),
    product('Keyboard',100,8)
]
products

[product(name='Laptop', price=1000, quantity=5),
 product(name='Mouse', price=50, quantity=10),
 product(name='Keyboard', price=100, quantity=8)]

In [9]:
@dataclass
class polygon:
    sides:int
    length:float
    def perimeter(self):
        return self.sides*self.length

In [10]:
p=polygon(4,8)
p2=polygon(3,6)
print(p.perimeter())
print(p2.perimeter())

32
18

In [12]:
x=[1,2,3,4,5]
y=[2,4,6,8,10]
#x.sum()
#x.mean()

In [13]:

class Slist(list):
    def sum(self):
        return sum(self)
    def mean(self):
        return sum(self)/len(self)

In [14]:
x=Slist([1,2,3,4,5])
y=Slist([2,4,6,8,10])
print(x.sum())
x.append(100)
print(x.sum())
print(x.mean())

15
115
19.166666666666668